html,body{
    height: 100%;
    font-size: 20px;
}
.display{
    border-radius: 18px;
    border-style: solid;
    border-color: blanchedalmond;
    margin: 2px;
    width: 160px;
    height: 60px;
    text-align: center;
}

button{
    margin: 2px;
    width: 39px;
    height: 39px;
    border-radius: 12px;
    border-style: solid;
    border-color: blanchedalmond;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    background-color: aquamarine;
    border-color: black;
}

.zeile{
    display: flex;
}
.rechnerumgebung{
    background-color: ;
    margin-top: 10%;
    margin-left: 10%;
    width: 40%;
}

.beschreibung{
    background-color: beige;
    width: 50%;
    height: 100%;
    padding: 15px;
}

.spalten{
    display: flex;
    height: 100%;
}