html, body {
    height: 100%;
    font-size: 20px;
    background-color: #F5F5F5
}

.display {
    border-radius: 18px;
    border-style: solid;
    border-color: #89CFF0; /* Himmelblau */
    margin: 0px;
    width: 208px;
    height: 60px;
    text-align: center;
    background-color: #E0FFFF; /* Hellcyan */
}

button {
    margin: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #89CFF0; /* Himmelblau */
    background-color: #FFDDC1; /* Hellorange */
    font-family: Arial, Helvetica, sans-serif;
}

.quadratButton {
    width: 39px;
    height: 39px;
}

.rechteckigerButton {
    width: 166px;
    height: 39px;
}

button:hover {
    background-color: #98FB98; /* Hellgrün */
    border-color: #4682B4; /* Stahlblau */
}

.zeile {
    display: flex;
}

.rechnerumgebung {
    margin-top: 10%;
    margin-left: 10%;
    width: 40%;
}

.beschreibung {
    background-color: #FFDDC1; /* Hellorange */
    width: 50%;
    height: 100%;
    padding: 15px;
}

.spalten {
    display: flex;
    height: 100%;
}

.eingabeumgebung {
    margin-top: 10%;
    margin-left: 10%;  
    width: 30%;
}

.beschreibungGr {
    background-color: #FFDDC1; /* Hellorange */
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 15px;
}

.y {
    margin: 2px;
    width: 60px;
    height: 60px;
    text-align: center;  
    height: 25px;
    border-radius: 18px; 
    border-style: solid;
    border-color: #89CFF0; /* Dunkelgrau */
    background-color: #E0FFFF; /* Hellgrau */
    font-family: Arial, Helvetica, sans-serif;      
}

.term {    
    background-color: #E0FFFF; /* Hellgrau */
    margin: 2px; 
    width: 160px; 
    height: 25px; 
    text-align: center;
    border-radius: 18px; 
    border-style: solid; 
    border-color: #89CFF0; /* Dunkelgrau */
}

canvas {
    display: block;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 100%;
    height: 400%;
}

a { /* Gestaltung der Links */
    color: #000; /* Schwarz */
    margin: 20px;
    background-color: #FFDDC1; /* Hellorange */
    border-radius: 18px;
    border-style: solid;
    border-color: #89CFF0; /* Himmelblau */
    padding: 4px;
    text-decoration: none; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #8B4513; /* Sienna */
    text-decoration: inherit; 
}



.zoomeingabe {
    margin-left: 40%;
    margin-top: 10%;
}
